In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")

full_df = pd.read_csv('bklyn_sales_working.csv')
full_df.columns

Index(['Type', 'Address', 'ZIP', 'Purchase Amt', 'Purchase Down %',
       '1st Amount', '2nd Amount', 'CLTV %', 'Purchase Date', 'Purchase Type',
       'City', 'Owner Occ?', 'Listed for Sale?'],
      dtype='object')

In [6]:
full_df['Purchase Amt'] = full_df['Purchase Amt'].astype('float64')
full_df.columns

full_df = full_df.fillna(0)
full_df['Amount Mortgaged'] = full_df['1st Amount']
full_df['Count'] = 1
full_df = full_df.loc[:, ['Count', 'ZIP', 'Type', 'Owner Occ?', 'Purchase Down %', 
                                 'Purchase Amt', 'Amount Mortgaged']]



full_df.tail()

,Count,ZIP,Type,Owner Occ?,Purchase Down %,Purchase Amt,Amount Mortgaged
3007,1,11214,CND,1,100.0,650000.0,0.0
3008,1,11214,CND,1,21.0,659262.0,520000.0
3009,1,11230,CND,1,31.0,539672.0,371000.0
3010,1,11229,CND,1,20.0,575000.0,460000.0
3011,1,11235,CND,0,100.0,360000.0,0.0

In [11]:
full_df.columns

Index(['Count', 'ZIP', 'Type', 'Owner Occ?', 'Purchase Down %', 'Purchase Amt',
       'Amount Mortgaged'],
      dtype='object')

In [12]:
# full_df = full_df.loc[:, full_df['Count', 'ZIP', 'Type', 'Owner Occ?', 'Purchase Down %', 'Purchase Amt',
#        'Amount Mortgaged']]
# full_df.head()

In [13]:
full_df.shape

(3012, 7)

In [14]:
full_df_dupe = full_df[full_df.duplicated(['Address'], keep = False)]
full_dupe.shape

KeyError: Index(['Address'], dtype='object')

In [ ]:
full_df.shape

In [ ]:
full_df['% Borrowed'] = full_df['Amount Mortgaged']/ full_df['Purchase Amt']*100
full_df = full_df[full_df['% Borrowed'] < 100]
full_df.shape

In [ ]:
#calculate how much mortgage tax was collected.
# for mortgages less than $500,000, tax is 1.8% for mortgages of $500,000, 1.95% 
#calculate the mansion tax as 1% for sales over $1,000,000

full_df['Mtg Tx Pd'] = np.where(full_df['Amount Mortgaged'] >= 500000, 
                                 full_df['Amount Mortgaged'] * 0.0195, full_df['Amount Mortgaged'] * 0.018)
full_df['Mansion Tax Pd'] = np.where(full_df['Purchase Amt'] >= 1000000, full_df['Purchase Amt'] * 0.01, 0)
full_df.head()

In [ ]:
#created two dataframes, one for investor purchases and the other for primary residences
investor_df = full_df[(full_df['Owner Occ?'] ==1)]
owner_occ_df = full_df[(full_df['Owner Occ?'] == 0)]

In [ ]:
#calculate new sales tax info for private residences, 0.9% for purchases under $1mil and 
#calculate new sales tax for investment purchases, 4.4357%
owner_occ_df['New Sales Tax Amount'] = np.where(owner_occ_df['Purchase Amt'] >= 1000000, owner_occ_df['Purchase Amt'] * 0.009,
                                owner_occ_df['Purchase Amt'] * 0.014)
investor_df['New Sales Tax Amount'] = investor_df['Purchase Amt'] * 0.04438

owner_occ_df.tail()

In [ ]:
#show the total mtg tax and mansion taxes collected and compare to what our hypothetical tax would have raised

total_mtg_tax_pd = owner_occ_df['Mtg Tx Pd'].sum()
total_mansion_tax_pd = owner_occ_df['Mansion Tax Pd'].sum()
total_est_tax = owner_occ_df['New Sales Tax Amount'].sum()
total_mtg_tax_inves_pd = investor_df['Mtg Tx Pd'].sum()
total_mansion_tax_inves_pd = investor_df['Mansion Tax Pd'].sum()
total_est_inves_tax = investor_df['New Sales Tax Amount'].sum()
print(f"The total mtg tax paid  by individuals purchasing primary residences in 2022 was ${total_mtg_tax_pd:,.0f} and the total mansion tax collected was ${total_mansion_tax_pd:,.0f}.")
print(f'The combined mtg and mansion tax was {total_mtg_tax_pd + total_mansion_tax_pd:,.0f}, our hypothetical sales tax would have raised ${total_est_tax:,.0f}')
print(f"The total mtg tax paid in bklyn by investors in 2022 was ${total_mtg_tax_inves_pd:,.0f} and the total mansion tax collected was ${total_mansion_tax_inves_pd:,.0f}.")
print(f'The combined mtg and mansion tax was {total_mtg_tax_inves_pd + total_mansion_tax_inves_pd:,.0f}, our hypothetical sales tax on investments would have raised ${total_est_inves_tax:,.0f}')
print(f'The total tax raised in 2022 was {total_mtg_tax_pd + total_mansion_tax_pd + total_mtg_tax_inves_pd + total_mansion_tax_inves_pd:,.0f} and the total amount that would have been raised would have been ${total_est_tax + total_est_inves_tax:,.0f}')

In [ ]:
frames = [owner_occ_df, investor_df]
calculated_full_df = pd.concat(frames)
calculated_full_df.shape

In [ ]:
calculated_full_df.to_csv('Sales_info_with_taxes_4.csv')